.post {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  float: left;
  margin: 10px;
  width: 250px;
}
ul li {
  list-style-type: none;
  display: inline;
}

.post_title {
  font-size: 1em;
  margin: 10px;
  text-align: center;
}
.post_button {
  position: relative;
  display: inline-block;
}
.buttons {
  padding: 0px !important;

  margin: 10px;
  position: inherit;
  bottom: 0;
  text-align: center;
}
.post_body {
  margin: 10px;
  white-space: pre-wrap;
  text-align: left;
  height: 264px;
}
.post_list {
  display: grid;
  justify-items: center;
}
.post_category {
  text-align: center;
}
.post_datestamp {
  margin: 10px;
  text-align: center;
}
